<launch>
    <arg name="world_name" default="$(find gazebo_ros_link_attacher)/worlds/test_attacher.world" />
    <arg name="has_marker" default="false" />
    <arg name="robot_description" default="robot_description"/>


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="verbose" value="false" />
        <arg name="debug" value="false" />
    </include>

</launch>